/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs
/vendor
.env
.env.backup
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
npm-debug*.log*
yarn-error.log
yarn-debug*.log*
pnpm-debug.log*
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.vscode/*
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/settings.json
/.zed

# IDE Helper files
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# IDE/Editor
*.swp
*.swo
*~
.netrc

# Miscellaneous
*.local.json
.vercel
vercel.json

#Claude
.claude.md
.claude/    